.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px 0 20px;
}

.mat-elevation-z8 {
  table {
    width: 100%;
  }
}

.heading {
  text-align: center;
}

.actions {
  margin-top: 20px;
}
