<div class="container">
  <h2 *ngIf="thermostat" class="heading">
    Readings for {{thermostat.household_token}}
  </h2>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="readings$ | async">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="temperature">
        <th mat-header-cell *matHeaderCellDef> Temperature </th>
        <td mat-cell *matCellDef="let element"> {{element.temperature}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="humidity">
        <th mat-header-cell *matHeaderCellDef> Humidity </th>
        <td mat-cell *matCellDef="let element"> {{element.humidity}} </td>
      </ng-container>

      <!-- Battery charge Column -->
      <ng-container matColumnDef="battery_charge">
        <th mat-header-cell *matHeaderCellDef> Battery charge </th>
        <td mat-cell *matCellDef="let element"> {{element.humidity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="actions">
    <button mat-button (click)="navigateBack()" type="button">Back</button>
  </div>

</div>
