/*
 * Rough and ready styling of the dashboard tile.
 * This could obviously be improved with a bit more time.
 */

:host {
    width: 200px;
    height: 180px;
    background: #647687;
    display: inline-block;
    cursor: pointer;
    padding-top: 20px;
    position: relative;
    border-radius: 4px;
    text-align: center;
}

span {
    display: block;
}

.token {
    margin-bottom: 20px;
}

.id {
    position: absolute;
    top: 5px;
    left: 5px;
}

.battery-charge {
    position: absolute;
    top: 5px;
    right: 5px;
}

.warning {
  color: #f0a30a;
}

.battery-charge-icon {
    font-size: 15px;
    width: 14px;
    height: 14px;
}

.token {
    font-size: 25px;
}

.reading {
    position: absolute;
    top: 0;
    width: 100%;
}

.thermostat {
    position: absolute;
    top: 90px;
    width: 100%;
}

.temperature {
    font-size: 30px;
    margin-top: 20px;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
