<div routerLink="/thermostat/{{thermostat.id}}" class="wrapper">
  <span class="id">{{thermostat.id}}</span>
  <div *ngIf="reading$ | async; let reading" class="reading">
    <span class="temperature">{{reading.temperature}}&#8451;</span>
    <span class="humidity">humidity: {{reading.humidity}}%</span>
    <span class="battery-charge"
          [ngClass]="{'warning': reading.battery_charge < 15 }">
        <mat-icon class="battery-charge-icon">battery_full</mat-icon>
      {{reading.battery_charge}}%
    </span>
  </div>

  <div class="thermostat">
    <span class="token">{{thermostat.household_token}}</span>
    <span class="address">
        <span class="street">{{thermostat.address.street}}</span>
      {{thermostat.address.postal_code}} {{thermostat.address.city}}, {{thermostat.address.country}}
    </span>
  </div>
</div>
